
<mat-toolbar color="primary" class="navbar">
    <div>
        <a href="/books"><img width="65"  src="https://img.icons8.com/plasticine/100/000000/apple-books.png" alt="apple-books"/> Hi, Ruhama</a>
        </div>
    <div class="links">
        <!-- <span><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a></span> -->
        <span><a routerLink="/topTen" routerLinkActive="active" ariaCurrentWhenActive="page">Top Ten</a></span>
        <span><a routerLink="/readers" routerLinkActive="active" ariaCurrentWhenActive="page">Readers</a></span>
        <span><a routerLink="/borrowings" routerLinkActive="active" ariaCurrentWhenActive="page">Borrowings</a></span>
        <span><a routerLink="/publishers" routerLinkActive="active" ariaCurrentWhenActive="page">Publishers</a></span>
    </div>
</mat-toolbar>

<!-- <button (click)="navigateToBooks()">Go to Books</button> -->

<!-- <app-book-list></app-book-list> -->
<router-outlet></router-outlet>